<?xml version="1.0" encoding="utf-8" ?>
<!-- 有关配置文件的具体说明请参见 example.xml -->
<config author="吉王义昊">
    <!-- 默认配置，作用于所有设备和应用 -->
    <rule-set>
        <item name="minWidth">320</item>
        <item name="fakeAppList">true</item>
        <item name="round">true</item>
        <item name="forceRound">false</item>
        <!-- 圆屏适配的放大倍数，稍微切掉一点边角换取更大的有效显示区域 -->
        <item name="roundSize">1.05</item>
        <!-- 圆屏适配的显示区域比例，1.2 与魅族手表的屏幕比例接近 -->
        <item name="roundRatio">1.2</item>
        <!-- 圆屏适配下设置背景颜色为黑色 -->
        <item name="backgroundColor">#000000</item>
    </rule-set>
    <!-- 绿联私有云 -->
    <rule-set package="com.ugreen.nas">
        <!-- 要能点到登录按钮 -->
        <item name="minWidth">500</item>
        <item name="fakeAppList">false</item>
    </rule-set>
</config>

<!-- 考虑到一份配置文件大概不太可能只有一个作者 -->
<!-- 但是 Toast 本身又不欢迎过长的文字（笑 -->
<!-- config.author 最好只标注这份配置文件的最后修改者 -->
<!-- 配置文件的编辑历史就写在这下面好了 -->
<!-- （这几个字用不了几 kB 的，^.^） -->
<!-- 欢迎在 GitHub 中通过 Pull Request 提交你的配置文件 -->

<!-- 2023-7-10 创建 by 吉王义昊 -->
<!-- 2023-7-11 修改 by 吉王义昊 -->
<!-- 2023-10-28 修改 by 吉王义昊 -->
<!-- 2023-10-29 修改 by 吉王义昊 -->